body {
          font-family: 'Monaco', 'Lucida Console', 'Arial';
          color: rgb(253, 253, 253);
          margin: 0;
          padding: 0;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
      }

      #myCanvas {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
      }

      .bg-img {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgb(32, 33, 36);
        background-size: 100% 100%;
        box-shadow: inset -150px 0px 200px rgb(15, 15, 15);
        z-index: -2;
      }

      .container {
        text-align: center;
        margin-top: 5%;
        z-index: -1;
      }

      .title {
        font-size: 2em;
        font-weight: bolder;
        margin-top: 10%;
        margin-bottom: 2.5%;
      }

      .body-container {
        margin-top: 1%;
        margin-bottom: 1%;
        margin-left: 35%;
        margin-right: 35%;
      }

      .typewriter1 {
        width: 2px;
        height: 42px;
        background-color: white;
        margin-left: 8px;
        animation: blink .6s linear infinite alternate;
        display: none;
      }

      .typewriter2 {
        width: 2px;
        height: 42px;
        background-color: white;
        margin-left: 8px;
        animation: blink .6s linear infinite alternate;
        display: none;
      }

      @keyframes blink {
        0% {opacity: 1;}
        40% {opacity: 1;}
        60% {opacity: 0;}
        100% {opacity: 0;}
      }















